/*----------------GENERAL----------------*/

@font-face {
  font-family: "Staatliches";
  src: url("./fonts/Staatliches-Regular.ttf");
}
html {
  background: #fde086;
  -ms-overflow-style: none;
  scrollbar-width: none !important;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0 !important;
}
body {
  margin: 0;
  background: url("./assets/images/background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: #fde086;
}
.loader--hide {
  opacity: 0;
  z-index: -1;
}
.loaderIcon {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.view {
  text-align: center;
  font-family: "Staatliches", cursive;
  color: white;
  padding-bottom: 1vh;
}
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none !important;
}
/*NAV*/
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 20vh;
  z-index: 999 !important;
}
.left {
  float: left;
}
.logo {
  width: 22vh;
  margin: 5vh;
  cursor: pointer;
}
.right {
  float: right;
}
.links {
  list-style-type: none;
}
.link {
  font-family: "Staatliches", cursive;
}
/*HOME*/
.home {
  padding-top: 20vh;
}
.homeImage {
  border: none;
  background: transparent;
}
.imageCard {
  padding: 0;
  overflow: hidden;
}
.progressiveImage::after {
  transition: 1s !important;
}
/*ABOUT*/
.about {
  height: 100vh;
}
/*CONTACTS*/
.contacts {
  height: 100vh;
}

/*----------------MOBILE----------------*/

/*NAV*/
.structure {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  cursor: pointer;
}
.navbarMobile {
  margin-right: 5vh;
  margin-top: 1vh;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}
.closebtn {
  position: absolute;
  font-size: 50px;
  top: 5%;
  right: 15%;
  color: #111;
}
.linksMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}
.linkMobile {
  font-size: 10vw;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
/*HOME*/
.homeImageTitle {
  text-align: left;
  font-size: 5vw;
}
.homeImageMobile {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 15vw;
}
.imageMobile {
  width: 100%;
}
.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border: none;
}
.modalHeader {
  border: none;
}
.modalBody {
  padding-top: 0;
}
.modalText {
  font-family: "Staatliches", cursive;
}

/*----------------DESKTOP----------------*/

/*NAV*/
.linksDesktop {
  font-size: 3vh;
  padding: 0;
  margin-top: 2vh;
}
.linkDesktop {
  display: inline;
}
.linkDesktop span {
  margin: 50px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.linkDesktop > * {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}
.linkDesktop > span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: red;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
.linkDesktop > span:hover:before,
.linkDesktop > span:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
.active {
  background: red;
  transition: 2s;
}
/*HOME*/
.imageContainerDesktop {
  height: 50vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5vw;
}
.homeLeftImage {
  float: left;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.homeRightDesc {
  float: right;
  height: 100%;
  width: 50%;
  overflow: hidden;
  text-align: left;
  padding-left: 5%;
  padding-top: 10%;
}
.homeLeftDesc {
  float: left;
  height: 100%;
  width: 50%;
  overflow: hidden;
  text-align: right;
  padding-right: 5%;
  padding-top: 10%;
}
.homeRightImage {
  float: right;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.homeText > h1 {
  font-size: 2.5vw;
}
.homeText > h3 {
  font-size: 1.5vw;
}
