/*----------------GENERAL----------------*/

@font-face {
  font-family: "Staatliches";
  src: url("./fonts/Staatliches-Regular.ttf");
}
html {
  background: #fde086;
  -ms-overflow-style: none;
  scrollbar-width: none !important;
}
html::-webkit-scrollbar {
  width: 0 !important;
}
body {
  margin: 0;
  background: url("./assets/images/background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fde086;
}
.loader--hide {
  opacity: 0;
  z-index: -1;
}
.loaderIcon {
  text-align: center;
  position: relative;
  top: 40%;
  -webkit-animation-name: heartbeat;
  -webkit-animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
.loaderIcon > img {
  width: 15vh;
}
.view {
  text-align: center;
  font-family: "Staatliches", cursive;
  color: white;
}
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none !important;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border-color: #111 !important;
}
/*ALERT*/
.alertBrowser {
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  z-index: 999;
  width: 100%;
  border-radius: 0;
}
.alertText {
  margin: 0;
  font-family: "Staatliches", cursive;
}
/*NAV*/
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: 0.3s;
}
.navbar {
  width: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.links {
  list-style-type: none;
}
.link {
  font-family: "Staatliches", cursive;
}
/*HOME*/
.homeImage {
  border: none;
  background: transparent;
}
.imageCard {
  padding: 0;
  overflow: hidden;
}
.image {
  width: 100%;
}
/*CONTACTS*/
.wave-container {
  position: relative;
  text-align: center;
  overflow: hidden;
}

/*----------------MOBILE----------------*/

/*NAV*/
.navMobile {
  height: 30vw;
}
.logoMobile {
  width: 40vw;
  margin: 4vw;
}
.structure {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  cursor: pointer;
}
.navbarMobile {
  margin: 5vw;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}
.closebtn {
  position: absolute;
  font-size: 50px;
  top: 2%;
  right: 15%;
  color: #111;
}
.linksMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}
.linkMobile {
  font-size: 10vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
/*HOME*/
.homeMobile {
  padding-top: 35vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.homeMobileTitle {
  font-size: 10vw;
}
.homeImageTitle {
  position: absolute;
  top: 5vw;
  left: 5vw;
  font-size: 8vw;
  text-align: left;
}
.homeImageMobile {
  border: none;
  background: black;
  border-radius: 0;
  margin-top: 5vw;
}
.imageMobileHome {
  opacity: 0.5;
}
.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border: none;
  margin-left: 5vw;
  margin-right: 5vw;
}
.modalHeader {
  border: none;
}
.modalBody {
  padding-top: 0;
}
.modalText {
  font-family: "Staatliches", cursive;
}
/*ABOUT*/
.aboutMobile {
  padding-top: 20vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.aboutTitleMobile {
  margin-bottom: 5vw;
  word-spacing: 0.5vw;
  font-size: 10vw;
}
.aboutImageMobile {
  border: none;
  background: black;
  border-radius: 0;
  margin-top: 5vw;
}
.imagePilotMobile {
  opacity: 0.5;
}
.pilotDescMobile {
  position: absolute;
  bottom: 5vw;
  left: 5vw;
  text-align: left;
}
.pilotDescMobileName {
  font-size: 8vw;
  margin: 0;
}
.pilotDescMobileText {
  font-size: 5vw;
  margin: 0;
}
/*CONTACTS*/
.contactsMobile {
  padding-top: 20vw;
}
.aboutTitleMobile {
  font-size: 10vw;
}
.contactsContainerMobile {
  height: 240vw;
  background: #111;
  margin-top: -5px;
}
.contactsContentMobile {
  margin-left: 5vw;
  margin-right: 5vw;
}
.mapMobile {
  margin-top: 10vw;
  width: 100%;
  height: 60vw;
}
.contactsLeftTextMobile {
  text-align: left;
  margin-top: 5vw;
}
.contactsLeftTitleMobile {
  font-size: 8vw;
  margin: 0;
}
.contactsLeftParagraphMobile {
  font-size: 5vw;
  margin: 0;
}
.contactsRightMobile {
  text-align: left;
  margin-top: 10vw;
}
.contactsRightTitleMobile {
  font-size: 8vw;
  margin: 0;
}
.mailMobile {
  margin-top: 3vw;
  height: 70vw;
  width: 100%;
  background: white;
}
.mailTextAreaContainerMobile {
  padding: 5vw;
  height: 100%;
}
.mailTextAreaMobile {
  width: 100%;
  border-radius: 0;
  border-color: #111;
  height: 75% !important;
  resize: none;
}
.sendButtonMobile {
  margin-top: 5vw;
  width: 100%;
  border-radius: 0;
  height: 10vw;
}
.buttonTextMobile {
  font-size: 5vw;
}
.contactsLinkMobile {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 15vw;
  width: 10vw;
  cursor: pointer;
  transition: 0.4s;
}
/*----------------DESKTOP----------------*/

/*NAV*/
.navDesktop {
  height: 10vw;
}
.logoDesktop {
  width: 12vw;
  margin: 2vw;
  cursor: pointer;
  transition: 0.3s;
}
.linksDesktop {
  font-size: 1.5vw;
  padding: 0;
  margin: 2vw;
}
.linkDesktop {
  display: inline;
}
.linkDesktop span {
  margin: 2vw;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.linkDesktop > * {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}
.linkDesktop > span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: red;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
.linkDesktop > span:hover:before,
.linkDesktop > span:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
.active {
  background: red;
}
/*HOME*/
.homeDesktop {
  padding-top: 10vw;
}
.homeDesktopTitle {
  font-size: 2.5vw;
}
.imageContainerDesktop {
  height: 30vw;
  margin-top: 5vw;
}
.homeLeftImage {
  padding-left: 10vw;
  float: left;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.homeRightDesc {
  padding-right: 10vw;
  float: right;
  height: 100%;
  width: 50%;
  overflow: hidden;
  text-align: left;
  padding-left: 5%;
  padding-top: 10%;
}
.homeLeftDesc {
  padding-left: 10vw;
  float: left;
  height: 100%;
  width: 50%;
  overflow: hidden;
  text-align: right;
  padding-right: 5%;
  padding-top: 10%;
}
.homeRightImage {
  padding-right: 10vw;
  float: right;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.homeText > h1 {
  font-size: 2.5vw;
}
.homeText > h3 {
  font-size: 1.5vw;
}
/*ABOUT*/
.aboutDesktop {
  padding-top: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
}
.aboutTitleDesktop {
  margin-bottom: 3vw;
  word-spacing: 0.5vw;
  font-size: 2.5vw;
}
.pilotsContainerDesktop {
  height: 30vw;
}
.pilotDesktop {
  background: black;
  position: relative;
  height: 100%;
  width: 25%;
  display: inline-block;
}
.imagePilotDesktop {
  width: 100%;
  height: 30vw;
  transition: 0.4s;
}
.imagePilotDesktop:hover {
  transition: 0.4s;
  opacity: 0.3;
}
.imagePilotDesktop:hover + .pilotDescDesktop {
  transition: 0.4s;
  opacity: 1;
}
.pilotDescDesktop {
  transition: 0.4s;
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  text-align: left;
  opacity: 0;
}
.pilotDescDesktopName {
  font-size: 2vw;
  margin: 0;
}
.pilotDescDesktopText {
  font-size: 1vw;
  margin: 0;
}
/*CONTACTS*/
.contactsDesktop {
  margin-top: 5vw;
}
.aboutTitleDesktop {
  word-spacing: 0.5vw;
  font-size: 2.5vw;
}
.contactsContainerDesktop {
  height: 60vw;
  background: #111;
  margin-top: -5px;
}
.contactsContentDesktop {
  height: 45vw;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 2vw;
}
.contactsLeftDesktop {
  float: left;
  height: 100%;
  width: 50%;
}
.contactsLeftTextDesktop {
  margin-top: 3vw;
  text-align: left;
}
.contactsLeftMapDesktop {
  text-align: left;
  width: 100%;
}
.mapDesktop {
  width: 80%;
  height: 25vw;
}
.contactsLeftTitleDesktop {
  margin: 0;
  font-size: 2.2vw;
}
.contactsLeftParagraphDesktop {
  margin: 0;
  font-size: 1.2vw;
}
.contactsRightDesktop {
  float: right;
  height: 100%;
  width: 50%;
  text-align: left;
}
.contactsRightTitleDesktop {
  margin: 0;
  font-size: 2.2vw;
}
.mailDesktop {
  margin-top: 3vw;
  height: 30vw;
  width: 100%;
  background: white;
}
.mailForm {
  height: 100%;
}
.mailTextAreaContainerDesktop {
  padding: 2vw;
  height: 100%;
}
.mailTextAreaDesktop {
  width: 100%;
  border-radius: 0;
  border-color: #111;
  height: 80% !important;
  resize: none;
}
.sendButtonDesktop {
  margin-top: 2vw;
  width: 10vw;
  border-radius: 0;
  height: 3vw;
}
.buttonTextDesktop {
  font-size: 1.2vw;
}
.contactsFooterDesktop {
  height: 30vw;
  margin-left: 10vw;
  margin-right: 10vw;
}
.contactsBottomDesktop {
  height: 50vw;
  width: 100%;
  text-align: center;
}
.contactsLinkDesktop {
  margin-left: 3vw;
  margin-right: 3vw;
  width: 3vw;
  cursor: pointer;
  transition: 0.4s;
}
.contactsLinkDesktop:hover {
  transition: 0.4s;
  opacity: 0.5;
}
